.our-purpose {
    text-align: center;
  }
  
  .our-purpose p {
    margin-top: 0px;
    font-size: 50px;
  }
  
  .our-purpose h1 {
    margin-top: 0px;
    padding-top: 75px;
  }
  
  .desktop-11 {
    background-color: #B7DFFA;
  }
  
  .purpose-how1 {
    display: flex;
    justify-content: center;  
    align-items: center;
    border-radius: 30px;
    background-color: #e5f8e2;
    height: 132px;
    width: 80%;
    flex-direction: column;
    margin: auto;
  }
  
  .purpose-how1 p {
    text-align: center;
    margin: auto;
    font-size: 36px;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .flex-container1 {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .purpose-how2 {
    margin-top: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;
    background-color: #e5f8e2;
    height: 245px;
    width: 60%;
    flex-direction: row;
  }
  
  .purpose-how2 p {
    text-align: center;
    margin: auto;
    font-size: 36px;
  }
  
  .purpose-how2-image img {
    margin-top: 75px;
    max-height: 245px;
    width: 100%;
  }
  
  .desktop-12 {
    background-color: #B7DFFA;
    padding-bottom: 75px;
  }
  
  .our-impact {
    text-align: center;
  }
  
  .our-impact h1 {
    margin-top: 0px;
    padding-top: 75px;
    padding-bottom: 75px;
  }
  
  .speech-bubble {
    margin-left: 30%;
    margin-top: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  } 
  
  .speech-bubble1 {
    margin-top: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    transform: scaleX(-1);
  } 
  
  .person {
    margin-top: 250px;
    height: 220px;
    width: 220px;
    background-color: #E5F8E2;
    border-radius: 50%;
    display: inline-block;
  }
  
  .desktop-15 {
    background-color: #B7DFFA;
    padding-bottom: 100px;
  }
  
  .awards-container{
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: white;
    height: 410px;
    width: 90%;
    flex-direction: column;
    margin: auto;
  }
  
  .our-awards h1{
    text-align: center;
    font-size: 50px;
  }

  .flex-container2 {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
  } 

  .award-image {
    align-items: center;
    border-radius: 30px;
    background-color: #B7DFFA;
    height: 245px;
    width: 30%;
  } 

  .recognition {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }

  .learn-about h1{
    margin-top: 100px;
  }

  .board-of-directors { 
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;
    background-color: white;
    height: 143px;
    width: 40%;
    flex-direction: row;
  }
  
  .board-of-directors p {
    text-align: center;
    margin: auto;
    font-size: 36px;
  }

  .desktop-16{  
    margin-top: -100px;
    background-color: #013a6b;
    background-image: -webkit-linear-gradient(
112deg, white 50%, #b7dffa 50%);
height: 800px;    
  }

  .lower-container{
    margin-top: 100px;
    margin-right: 10%;
  }

  .donate-text p{
    margin-left: 55%;
    width: 45%;
    font-size: 45px;
    text-align: right;  
  }

  .donate-button{
    margin-left: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;
    background-color: #B7DFFA;
    height: 100px;
    width: 40%;
    flex-direction: row;
  }

  .donate-button p{
    text-align: center;
    text-decoration: underline; 
    margin: auto;
    font-size: 36px;
  } 
  
  .speech-text p{
    font-size: 25px;
    margin-left: -375%;
    margin-right: 130%;
    margin-top: 50px;
    text-align: center;
  }

  .speech-text1 p{
    font-size: 25px;
    margin-left: -105%;
    position: relative;
    z-index: 1;
    margin-right: 130%;
    text-align: center;
  }

  .speech-text2 p{
    font-size: 25px;
    margin-left: -300%;
    margin-right: 130%;
    margin-top: 50px;
    text-align: center;
  }

