body {
  font-family: "inter", sans-serif;
  background-color: #ffffff;
}

.nav-wrapper {
  background-color: #b7dffa;
}

.btn {
  background-color: #2b87ba !important;
  width: fit-content;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h4 {
  width: 75%;
  padding-left: 25%;
  align-items: center;
}

.tab-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 50px;
  margin-top: 70px;
}

.sign-in-tab {
  background-color: #ffffff;
  width: 100%;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 5px;
}

.create-account-tab {
  background-color: #ffffff;
  width: 100%;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 5px;
}

.input-area {
  background-color: #b7dffa;
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
}

input {
  background-color: #ffffff !important;
  width: 400px !important;
  border-bottom: none !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  padding-left: 10px !important;
}

input:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

.row {
  width: 100%;
  display: flex;
  padding-left: 120px;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-wrapper {
  background-color: #e5f8e2;
  display: flex;
  height: 200px;
}

/* Homepage */

.desktop-1 {
    background-color: #B7DFFA;
}

.desktop-2 {
    background-image: linear-gradient(#B7DFFA, white);
}

.desktop-3 {
    background-image: white;
}

.home-container h1 {
    font-size: 102px;
  background-color: #b7dffa;
}

.desktop-2 {
  background-image: linear-gradient(#b7dffa, white);
}

.desktop-3 {
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(120deg, #b7dffa 50%, white 50%);
}

.home-container h1 {
  font-size: 102px;
}

.home-container h2 {
  text-align: center;
  font-size: 40px;
}

.home-container p {
    font-size: 30px;
}

.intro-container {
    display: flex;
}

.greeting-container {
    margin-left: 50px;
    width: 55%;
  font-size: 30px;
}

.intro-container {
  display: flex;
}

.greeting-container {
  margin-left: 50px;
  width: 55%;
}

.mission {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
  border: 1px solid black;
  height: 200px;
  width: 90%;
  background-color: #e5f8e2;
  margin: auto;
}

.mission p {
  text-align: center;
  margin: auto;
  width: 800px;
  font-size: 36px;
}

.footnote-container {
  padding-left: 50px;
}

.impact-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1000px;
}

.impact-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
  border: 1px solid black;
  background-color: white;
  height: 200px;
  width: 300px;
}

.impact-box p.number {
  text-align: center;
  font-size: 72px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.impact-box p.text {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.carousel-container {
  display: flex;
  justify-content: space-evenly;
}

.carousel-container a.arrow {
  margin: auto;
  font-size: 50px;
  color: black;
}

.partner-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
  border: 1px solid black;
  height: 200px;
  width: 300px;
  background-color: #e5f8e2;
}

.partner-box p.text {
  text-align: center;
}

/* About */

.our-purpose {
  text-align: center;
}

.our-purpose p {
  margin-top: 0px;
  font-size: 50px;
}

.our-purpose h1 {
  margin-top: 0px;
  padding-top: 75px;
}

.desktop-11 {
  background-color: #B7DFFA;
}

.purpose-how1 {
  margin-left: 100px;
}

.lower-container {
  display: flex;
  justify-content: center;  
  align-items: center;
  border-radius: 30px;
  background-color: #e5f8e2;
  height: 132px;
  width: 80%;
  flex-direction: column;
  margin: auto;
}

.lower-container p {
  width: 300px;
  text-align: center;
  margin: auto;
  font-size: 36px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: flex-end;
  gap: 50px;
}

.desktop-3 input {
  font-size: 30px !important;
  text-decoration: underline !important;
  text-decoration-color: #d1d1d1 !important;
  text-decoration-thickness: 10px !important;
  background-color: white !important;
  height: 100px;
  width: 300px !important;
  border-bottom: none !important;
  box-shadow: none !important;
  border-radius: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 20px !important;
}

.desktop3 input,
input::-webkit-input-placeholder {
  font-size: 30px;
}
/* About */

.our-purpose {
  text-align: center;
}

.our-purpose p {
  margin-top: 0px;
  font-size: 50px;
}

.our-purpose h1 {
  margin-top: 0px;
  padding-top: 75px;
}

.desktop-11 {
  background-color: #B7DFFA;
}

.purpose-how1 {
  display: flex;
  justify-content: center;  
  align-items: center;
  border-radius: 30px;
  background-color: #e5f8e2;
  height: 132px;
  width: 80%;
  flex-direction: column;
  margin: auto;
}

.purpose-how1 p {
  text-align: center;
  margin: auto;
  font-size: 36px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
}

.flex-container1 {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
}

.purpose-how2 {
  margin-top: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  background-color: #e5f8e2;
  height: 245px;
  width: 60%;
  flex-direction: row;
}

.purpose-how2 p {
  text-align: center;
  margin: auto;
  font-size: 36px;
}

.purpose-how2-image {
  margin-top: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  background-color: #e5f8e2;
  height: 245px;
  width: 30%;
  flex-direction: row;
}

.purpose-how2-image p {
  text-align: center;
  margin: auto;
  font-size: 36px;
}

.desktop-12 {
  background-color: #B7DFFA;
  padding-bottom: 75px;
}

.our-impact {
  text-align: center;
}

.our-impact h1 {
  margin-top: 0px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.speech-bubble {
  margin-left: 30%;
  margin-top: 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
} 

.speech-bubble1 {
  margin-top: 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  transform: scaleX(-1);
} 

.person {
  margin-top: 250px;
  height: 220px;
  width: 220px;
  background-color: #C4C4C4;
  border-radius: 50%;
  display: inline-block;
}

.desktop-15 {
  background-color: #B7DFFA;
}

.awards-container{
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: white;
  height: 410px;
  width: 80%;
  flex-direction: column;
  margin: auto;
}

.our-awards h1{
  text-align: center;
  font-size: 50px;
}

